<!DOCTYPE HTML>
<html ng-app="listaAlunos"> 
    <head>
        <title>Lista de Alunos</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.css">
        <style>
            .jumbotron {
                width: 1200px
                text-align: center;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control{
                margin-bottom: 5px;
            }
            .selecionado{
                background-color: rgb(100, 152, 219);
            }
        </style>
            
        <script src="angular.min.js"></script>
        <script>
            angular.module("listaAlunos", []);
            angular.module("listaAlunos").controller("listaAlunosCtrl", function($scope){
                $scope.app = "Lista de Alunos";
                $scope.web = "Alunos Web 2018"
                $scope.alunos = [];
                $scope.sexos = [
                    {sexo: "Masculino"},
                    {sexo: "Feminino"},
                ];
                $scope.adicionarAluno = function(aluno){
                    $scope.alunos.push(angular.copy(aluno));
                    delete $scope.aluno;
                    $scope.alunoForm.$setPristine();
                };
                $scope.apagarAlunos = function(alunos){
                    $scope.alunos = alunos.filter(function(aluno){
                        if(!aluno.selecionado) return aluno;
                    });
                };
                $scope.isAlunoSelecionado = function(alunos){
                    return alunos.some(function(aluno){
                        return aluno.selecionado
                    });
                }
                $scope.classe= "selecionado";
                $scope.ordenarPor = function(campo) {
                    $scope.criterioDeOrdenacao = campo;
                }
            });
        </script>

    </head>
    <body ng-controller="listaAlunosCtrl">
        <div class="jumbotron">
            <h4>{{app}}</h4>
            <input class="form-control" type="text" ng-model="criterioBusca" placeholder="Digite sua busca..."/>  
            <table class="table" ng-show="alunos.length > 0"> 
                <tr>{{web}}</tr>
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('matricula')">Matrícula</a></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Sexo</a></th>
                    <th><a href="" ng-click="ordenarPor('email')">Email</a></th>
                    <th><a href="" ng-click="ordenarPor('d_nasc')">Data de Nascimento</a></th>
                    <th><a href="" ng-click="ordenarPor('preco_mat')">Preço da Matrícula</a></th>
                </tr>
                <tr ng-class="{selecionado: aluno.selecionado}" ng-repeat="aluno in alunos | filter:criterioBusca | orderBy:criterioDeOrdenacao:false "/>
                    <td><input type="checkbox" ng-model="aluno.selecionado"/></td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.matricula}}</td>
                    <td>{{aluno.sexo.sexo}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.d_nasc | date:'dd/mm/yyyy'}}</td>
                    <td>{{aluno.preco_mat}}</td>
                </tr> 
            </table>
            <hr/>
            <form name="alunoForm">
                    Nome:<input class="form-control" type="text" ng-model="aluno.nome" name="nome" placeholder="Digite seu nome..." ng-required="true" ng-minlength="15"/><br/>
                    Matrícula:<input class="form-control" type="text" ng-model="aluno.matricula" name="matricula" placeholder="Digite sua matrícula..." ng-required="true" ng-minlength="10" ng-maxlength="11" ng-pattern="/^\d{10,11}$/"/><br/>
                    Sexo:<select class="form-control" ng-model="aluno.sexo" ng-init="aluno.sexo = sexos[0]" ng-options="sexo.sexo for sexo in sexos"> 
                    </select><br/>
                    Email:<input class="form-control" type="text" ng-model="aluno.email" name="email" placeholder="Digite seu email..." ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/><br/>
                    Data de Nascimento:<input class="form-control" type="date" ng-model="aluno.d_nasc" name="d_nasc" placeholder="Digite sua data de nascimento..." ng-required="true"/><br/>
                    Preço da Matrícula:<input class="form-control" type="text" ng-model="aluno.preco_mat" name="preco_mat" placeholder="Digite o preço da matrícula..." ng-required="true"/><br/>
            </form>
            <div ng-show="alunoForm.nome.$error.required && alunoForm.nome.$dirty" class="alert alert-danger">O campo nome deve ser preenchido!</div>
            <div ng-show="alunoForm.matricula.$error.required && alunoForm.matricula.$dirty" class="alert alert-danger">O campo matrícula deve ser preenchido!</div>
            <div ng-show="alunoForm.email.$error.required && alunoForm.email.$dirty" class="alert alert-danger">O campo email deve ser preenchido!</div>
            <div ng-show="alunoForm.d_nasc.$error.required && alunoForm.d_nasc.$dirty" class="alert alert-danger">O campo data de nascimento deve ser preenchido!</div>
            <div ng-show="alunoForm.preco_mat.$error.required && alunoForm.preco_mat.$dirty" class="alert alert-danger">O campo preço da matrícula deve ser preenchido!</div>
            <div ng-show="alunoForm.nome.$error.minlength" class="alert alert-danger">O nome do novo aluno está muito pequeno!</div>
            <div ng-show="alunoForm.matricula.$error.pattern" class="alert alert-danger">A matrícula do novo aluno está inválida!</div>
            <div ng-show="alunoForm.email.$error.pattern" class="alert alert-danger">O email do novo aluno está inválido!</div>
            <div ng-show="alunoForm.d_nasc.$error.pattern" class="alert alert-danger">A data de nascimento do novo aluno está inválida!</div>
            <div ng-show="alunoForm.preco_mat.$error.pattern" class="alert alert-danger">O preço da matrícula do novo aluno está inválido!</div>
            <button class="btn btn-primary btn-block" ng-click="adicionarAluno(aluno)" ng-disabled="alunoForm.$invalid">Adicionar Aluno</button>
            <button class="btn btn-danger btn-block" ng-click="apagarAlunos(alunos)" ng-disabled=" !isAlunoSelecionado(alunos)">Apagar Alunos</button>

        </div> 
    </body>
</html>
